@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    :root{

        --color-primary: #A7BAA3;
        --color-primary-light: #C9D5D3;
        
        --color-secondary:#3b614a;
        --color-text-secondary: #222f27;
        
    }
}

